#catalog_menu .accordion a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.6rem 1.3rem;
    color: #000;
    align-self: center;
    align-items: center;
}
#catalog_menu .accordion .active {
    color: #000;
    font-weight: bold;
    background-color: var(--white);
}
#catalog_menu .accordion .accordion-parent .accordion-icon {
    width: 22px;
    height: 22px;
    background: url(../images/rightarrow.png) no-repeat 0 0;
    display: inline-block;
    background-position: center;
}
#catalog_menu .accordion .accordion-parent:hover .accordion-icon, #catalog_menu .accordion .accordion-parent.active .accordion-icon {
    background: url(../images/downarrow.png) no-repeat 0 0;
    background-position: center;
}