h1 {
    font-size: clamp(1.8rem, 1.8vw + 1.9vw, 1.6vw);
    font-weight: 600;
    line-height: 1.1;
    margin-top: -5px;
}
h2,
h3{
	font-size: var(--h3-product);
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1;
}

h2 span,
h3 span{
	font-size: var(--menu-title);
	color: var(--darkgray);
	text-transform: none;
}

input,
label{
	cursor: pointer;
}

.variant_radiobutton{
    width: 21px;
    height: 21px;
    border-radius: 10px;
    background: none;
    border: 0;
    -webkit-box-shadow: inset 0 0 0 1.5px #ccc;
            box-shadow: inset 0 0 0 1.5px #ccc;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-transition: -webkit-box-shadow 150ms cubic-bezier(.95,.15,.5,1.25);
    transition: -webkit-box-shadow 150ms cubic-bezier(.95,.15,.5,1.25);
    -o-transition: box-shadow 150ms cubic-bezier(.95,.15,.5,1.25);
    transition: box-shadow 150ms cubic-bezier(.95,.15,.5,1.25);
    transition: box-shadow 150ms cubic-bezier(.95,.15,.5,1.25), -webkit-box-shadow 150ms cubic-bezier(.95,.15,.5,1.25);
    margin: 5px 8px 0px 0px;
}

.variant_radiobutton:checked{
  -webkit-box-shadow: inset 0 0 0 14px #ba2222;
          box-shadow: inset 0 0 0 14px #ba2222;
}

.variants table tbody, 
.variants table tbody tr,
.variant_name{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.variant_name {
    width: 80px;
}

.variant_name:hover{
	color:var(--red);
}

.variants table tbody{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	    gap: 1rem;
}

.variants table tbody tr{
	    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.product-top-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2vw 1.8fr;
    grid-template-columns: 1fr 1.8fr;
    gap: 2vw;
}
.product-img-box, .product-img-box > div,
.product-bay-box, .bay-box, .bay-box > * ,
.product-bay-information,
.comments-box-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}
.product-img-box > div:nth-of-type(1) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
}

.product-img-box > div:nth-of-type(1):empty{
	display: none;
}

.product-img-box > div:nth-of-type(2) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid var(--gray);
    justify-items: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
}
.images {
    gap: .8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.images > * {
    border: 2px solid var(--gray);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .5rem;
}
.images a:hover {
    border: 2px solid var(--red);
}
.image img {
	    width: 100%;
    min-width: 290px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1)
}
.product-img-box .image:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05)
}
.product-bay-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
}
.bay-box {
    padding: 2.5rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
}
.bay-box > *,
.product-bay-information a,
.product-bay-information-link,
.features li,
.captcha,
.modal-address-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.bay-box > *:nth-of-type(1) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10%;
            flex: 1 1 10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--green);
    font-weight: 600;
    gap: .5rem;
}
.bay-box > *:nth-of-type(2) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    font-size: var(--sm-size);
    font-weight: 600;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.bay-box > *:nth-of-type(3) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.bay-box-variants > div:nth-of-type(1) {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.bay-box-variants__item svg {
    background-color: var(--black);
    fill: var(--white);
    padding: 0.5rem;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.telegram-link {
    text-decoration: none;
    color: var(--black);
    display: -webkit-box;
    display: -ms-flexbox;






    display: flex;
    gap: 1rem;
    font-size: var(--regular-size);
    font-weight: 600;
}
.telegram-link:hover {
    opacity: 0.9;
    color: var(--red);
}
.telegram-link p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.telegram-link span {
    font-weight: 400;
}
.variant-price-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
}
.variant-price-box {
    background-color: var(--white);
    border-radius: var(--br-lg);
    font-weight: 700;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.variant-price-box > div:nth-of-type(1) {
    padding: 0.6rem 1.5vw 0.6rem 1.5vw;
    font-size: var(--lg-size);
}
.variant-price-box > div:nth-of-type(2) {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    -ms-grid-column-align: end;
        justify-self: end;
}
.variant-price-box > div:nth-of-type(2) .button,
.comments-box-form .button,
.form-consultation .button{
    background-color: var(--red);
    color: var(--white);
    padding: 0.8rem 2vw 0.8rem 2vw;
    font-size: var(--menu-title);
    border: 3px solid var(--red);
    outline: none;
    height: 100%;
    border-radius: var(--br-lg);
	font-weight: 600;
}

.product-bay-information{
	gap: .2rem;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;	
}

.product-bay-information a{
	text-decoration: none;
    color: var(--black);
    font-size: var(--regular-size);
    font-weight: 600;
	-webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	cursor: pointer;
}

.product-bay-information a:hover,
.modal-inner-header svg:hover,
.modal-zakon a:hover{
	color: var(--red);
	text-decoration: underline;
}

.product-bay-information svg{
	color: var(--red);
	margin-right: .5rem;
}

.product-bay-information-link{
	 -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;	
}

.product-bay-information-link a{
	background-color: var(--gray);
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: 2px solid var(--white);
    text-align: center;
    padding: 1.3rem 0.5rem;
    color: var(--black);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--sm-size);
}

.product-bay-information-link a:hover{
	color: var(--red);
	border: 2px solid var(--red);
	background-color: var(--white);
	cursor: pointer;
}

.comments-box-form .button:hover{
	color: var(--red);
	border: 3px solid var(--red);
	background-color: var(--white);
	cursor: pointer;
}

.features {
	list-style-type: none;
}

.features li{
	padding: 2rem;
	font-weight: 600;
}

.features li > *{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1
}

.features .even{
	background-color: var(--gray);
}

.product-body {
	font-size: var(--sm-size);
	color: var(--black);
	line-height: 28px;
}

.comments-box{
	-ms-grid-columns: 1fr 2rem 1fr;
	grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.comments-box-form{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.comments-box-form label{
	font-weight: 600;
	font-size: var(--sm-size);
}

.comments-box-form input,
.comments-box-form textarea,
.form-consultation input,
.form-consultation textarea{
	padding: 1rem;
	border: 1px solid #ccc;
    outline: none;
	resize: vertical;
}

.comments-box-form input:active,
.comments-box-form textarea:active,
.comments-box-form input:focus,
.comments-box-form textarea:focus,
.form-consultation input:focus,
.form-consultation textarea:focus{
	border: 1px solid var(--red);
	outline: 1px solid var(--red);
	-webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.captcha{
	gap:1rem;
}

.comment-list{
	list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
}

.comment-list li {
	background-color: var(--gray);
    padding: 2rem;
    border-bottom-left-radius: var(--br-25);
}

.comment_header-name{
	font-size: var(--menu-title);
	font-weight: 600;
}

.comment_header-data-time{
	font-size:var(--xs-size);
	color: var(--darkgray);
}
.comment-list li p{
	font-size:var(--sm-size15);
}

.comment-list li p br{
	display: none;
}

.modal-info{
    height: 100vh;
    top: 0;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    -webkit-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
            transform: translateX(-110%);
	 -webkit-transition: .4s;
	 -o-transition: .4s;
	 transition: .4s;
}

.visible-work,
.visible-address,
.visible-return,
.visible-consultation{
	-webkit-box-shadow: 20px 0 505px 0 rgba(0,0,0,0.75);
    box-shadow: 20px 0 505px 0 rgb(0 0 0 / 75%);
}

.visible-work,
.visible-address,
.visible-return,
.visible-consultation,
.modal-inner-header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transform: translateX(0px);
	    -ms-transform: translateX(0px);
	        transform: translateX(0px);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.modal-inner{
    border: none;
    width: 50vw;
    max-width: 700px;
    padding: 0;
    border-radius: 6px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.modal-inner-header{
	-ms-flex-item-align: end;
	    align-self: flex-end;
    padding: 0.7rem;
    cursor: pointer;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.modal-inner-container{
	margin: auto;
	width: auto;
    padding: 1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
}

.work-clockinfo{
	margin-bottom: .5rem;
}

.work-clockinfo tr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
}

.work-clockinfo tr:hover{
	background-color: var(--gray);
}

.work-clockinfo tr td{
	font-size: var(--md-size2);
    padding: 0.4rem 3px;
    border-bottom: 1px solid var(--gray);
}

.modal-inner-container__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.modal-inner-container__item p,
.modal-inner-container__item a{
	font-size: var(--menu-title);
    padding: 0.4rem 3px;
    text-decoration: none;
    color: var(--black);
}

.modal-inner-container__item a{
	font-size: var(--md-size2);
}

.modal-inner-container__item a span{
	color: var(--darkgray);
    text-decoration: none !important;
    font-size: var(--regular-size);
}

.modal-address-box{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.modal-zakon{
	width: 40vw;
    max-width: 500px;
    padding: 0.5rem;
}

.modal-zakon h4,
.modal-zakon p{
	padding-bottom: .5rem;
}

.modal-zakon ul{
	padding-left: 1.2rem;
}

.modal-zakon a{
	color: var(--black);
}

.form-consultation > *{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
	max-width: 670px;
}

.form-consultation{
	min-width: 28vw;
}

.sidebar-title{
	font-size:var(--lg-size);
	padding-bottom: 1rem;
	margin: 0;
	line-height: 1;
	font-weight: 600;
}

@media (max-width: 1199px){
	.padding2-0 {
		padding: 1rem 0;
	}
	
	.padding4-0 {
    	padding: 2rem 0;
	}
	
	.images{
		gap: 0.2rem;
	}
	
	.images > *{
		padding: 0.2rem;
	}
	
	.bay-box {
		padding: 1.5rem;
   		gap: 1rem;
	}
	
	.product-img-box,
	.telegram-link{
		gap: .5rem;
	}
	
	.product-top-section{
		-ms-grid-columns: 0.5fr 1.5vw 2fr;
		grid-template-columns: 0.5fr 2fr;
    	gap: 1.5vw;
	}
	
	.variant-price-box > div:nth-of-type(1) {
		font-size: var(--md-size);
	}
	
	.dop-foto .images img{
		width: 100%;
	}
	
	.bay-box-variants__item svg{
		padding: 0.4rem;
		width: 20px;
		height: 20px;
	}
	
	h1 {
		font-size: var(--titlesm);
	}
	
	.variant-price-box > div:nth-of-type(2) .button,
	.comments-box-form .button, 
	.form-consultation .button{
		padding: 0.8rem 1.6vw 0.8rem 1.6vw;
    	font-size: var( --sm-size);
	}
	
	.product-bay-information-link a{
		-webkit-box-flex: 1;
		    -ms-flex: auto;
		        flex: auto;
		padding: 0.9rem 0.4rem;
		    
	}
	
	.product-bay-information a{
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;	
	}
	
	.bay-box > *:nth-of-type(1),
	.bay-box > *:nth-of-type(2)	{
		font-size: var(--regular-size);
	}
	
	.product-bay-information svg {
		margin-right: 0;
		width: 20px !important;
    	height: 20px !important;
	}
}

@media (max-width: 991px){
	.product-img-box{
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
	
	.images {
		gap: 0.3rem;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	
	.dop-foto .images img {
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		margin: auto;
	}
	
	.image img {
		min-width: 160px;
	}
	
	.product-bay-box{
		gap: 1rem;
	}
	
	h1 {
		font-size: var(--md-size);
	}
	
	.images > * {
		padding: 0;
	}
	
	.bay-box {
		padding: 1.5rem 1.2rem;
		gap: 1rem;
	}
	
	.telegram-link p{
		font-size: 11px;
	}
	
	.product-bay-information-link a {
		padding: .8rem .4rem;
		font-size: var(--regular-size);
	}
	
	.product-bay-information a {
		padding-bottom: 0.3rem;
	}
	
	h3 {
		font-size: var(--titlesm);
	}
}

@media (max-width: 767px){
	h1 {
		font-size: var(--md-size);
		font-weight: 700;
	}
	h3 {
		font-size: var(--md-size2);
		line-height: 1.3;
	}
	.product-top-section {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		gap: 1.5rem;
	}
	
	.product-header-menu {
		gap: 1rem;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	
	.product-bay-information-link a{
		width: 50%;
	}
	
	.comments-box,
	.variant-price-box{
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	
	.comment-form input,
	.comment-form textarea,
	.bay-box-variants__item table{
		width: 100%;
	}
	
	.menu-white{
		    -ms-flex-item-align: normal;
		        -ms-grid-row-align: normal;
		        align-self: normal;

    		padding: 0.8rem 1.2rem;
	}
	
	.bread-crumbs {
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		width: 100%;
		overflow-y: scroll;
		white-space: nowrap;
		    padding: 0.5rem 0;
	}
	
	.image img {
		min-width: 160px;
		padding: 1rem;
	}
	
	.visible-menu-left .modal-inner,
	.modal-inner{
		width: 100vw;
	}
	
	.menu-title{
		display: none;
	}
	
	.variant-price-box > div:nth-of-type(1){
		text-align: center;
		padding: 0 1vw 1rem 1vw;
	}
	
	.product-img-box > div:nth-of-type(2){
		border: none;
	}
	
	.variant-price-box{
		padding: 1rem;
		width: 100%;
	}
	
	.variant-price-box > div:nth-of-type(2){
		    -ms-grid-column-align: normal;
		        justify-self: normal;
	}
	.variant-price-box > div:nth-of-type(2) .button{
		width: 100%;
	}
	
	.product-bay-information a {
		padding-bottom: 1rem;
	}
	
	.product-bay-box {
		gap: 1.5rem;
	}
	
	.features li {
    	padding: 1.5rem;
		font-weight: 500;
	}
	
	.header-top,
	.header-menu{
		padding: 0.5rem 0;
	}
	
	.work-clockinfo tr {
		-ms-grid-columns: 1.3fr 1fr;
		grid-template-columns: 1.3fr 1fr;
	}
	
	.work-clockinfo tr td {
		font-size: var(--sm-size);
		padding: 0.5rem 5px;
	}
	
	.modal-inner-container__item a {
		font-size: var(--menu-title);
		font-weight: 500;
	}
	.modal-inner-container__item p, 
	.modal-inner-container__item a {
		font-size: var( --sm-size);
	}
	.modal-zakon {
		width: 100vw;
		max-width: 100%;
		padding: 0.5rem 1.5rem 3rem 1.5rem;
	}
	
	.form-consultation {
		min-width: 84vw;
	}
	.variants table tbody tr,
	.bay-box-variants{
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	}
	
	.variants .variant_name{
		padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	}
}